@font-face {
	font-family: 'gothamblackregular';
	src: url('https://listerinesalud.com/Banners2013/Whitening/plataforma/fonts/gothamblack-webfont.eot');
	src: url('https://listerinesalud.com/Banners2013/Whitening/plataforma/fonts/gothamblack-webfont.eot?#iefix') format('embedded-opentype'),
	url('https://listerinesalud.com/Banners2013/Whitening/plataforma/fonts/gothamblack-webfont.woff') format('woff'),
	url('https://listerinesalud.com/Banners2013/Whitening/plataforma/fonts/gothamblack-webfont.ttf') format('truetype'),
	url('https://listerinesalud.com/Banners2013/Whitening/plataforma/fonts/gothamblack-webfont.svg#gothamblackregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'gotham_bookregular';
	src: url('https://listerinesalud.com/Banners2013/Whitening/plataforma/fonts/gotham-book-webfont.eot');
	src: url('https://listerinesalud.com/Banners2013/Whitening/plataforma/fonts/gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
	url('https://listerinesalud.com/Banners2013/Whitening/plataforma/fonts/gotham-book-webfont.woff') format('woff'),
	url('https://listerinesalud.com/Banners2013/Whitening/plataforma/fonts/gotham-book-webfont.ttf') format('truetype'),
	url('https://listerinesalud.com/Banners2013/Whitening/plataforma/fonts/gotham-book-webfont.svg#gotham_bookregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	background-image: -moz-linear-gradient(top,  rgba(229,229,229,0.43) 0%, rgba(93,181,184,1) 100%) !important; /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,0.43)), color-stop(100%,rgba(93,181,184,1))) !important; /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top,  rgba(229,229,229,0.43) 0%,rgba(93,181,184,1) 100%) !important; /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,  rgba(229,229,229,0.43) 0%,rgba(93,181,184,1) 100%) !important; /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,  rgba(229,229,229,0.43) 0%,rgba(93,181,184,1) 100%) !important; /* IE10+ */
	background-image: linear-gradient(to bottom,  rgba(229,229,229,0.43) 0%,rgba(93,181,184,1) 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ee5e5e5', endColorstr='#5db5b8',GradientType=0 ) !important; /* IE6-9 */
	height: 100%;

	background-repeat: no-repeat;
	background-size: cover;

	padding-bottom: 100px;
	overflow:hidden;
}

.titulo-explicacion{
	font-family: 'gotham_bookregular' !important;
	color: #737474;
}

.participantes h4 {
	color: #888;
	font-size: 13px;
	font-family: 'gotham_bookregular' !important;
}


body.admin {
	overflow: auto !important;
}

.reto-instagram{
	width: 100%;
	margin: 0 auto;
}

.reto-instagram nav{
	width: 100%;
}

.reto-instagram nav ul{
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'gotham_bookregular', Arial, Helvetica;
}

.reto-instagram nav ul li {
	width: 33.3%;
	display: inline-block;
	background-color: #23b9c3;
	text-align: center;
	margin-left: -4px;
	height: 63px;
	border-left: solid 1px white;
	color:white !important;
	vertical-align: top;
}

.reto-instagram nav ul li:hover{
		color: #fff;
	background: #0698a1; /* Old browsers */
	background: -moz-linear-gradient(top,  #0698a1 0%, #024b50 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0698a1), color-stop(100%,#024b50)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0698a1 0%,#024b50 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0698a1 0%,#024b50 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0698a1 0%,#024b50 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0698a1 0%,#024b50 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0698a1', endColorstr='#024b50',GradientType=0 ); /* IE6-9 */
}

.reto-instagram nav ul li a:hover{
	text-decoration: none !important;
}

.reto-instagram nav ul li a {
	color:white !important;

}

.reto-instagram nav ul li.active{
	color: #fff;
	background: #0698a1; /* Old browsers */
	background: -moz-linear-gradient(top,  #0698a1 0%, #024b50 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0698a1), color-stop(100%,#024b50)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0698a1 0%,#024b50 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0698a1 0%,#024b50 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0698a1 0%,#024b50 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0698a1 0%,#024b50 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0698a1', endColorstr='#024b50',GradientType=0 ); /* IE6-9 */
}

.reto-instagram nav ul li h1 {
	font-size: 16px;
	line-height: 18px;
}

section{
	width: 100%;
	background-color: white;
	text-align: center;
}

section .column{
	display: inline-block;
	vertical-align: top;
}

section .column h1 {
	color: black;
	font-size: 30px;
	text-align: left;
	margin-top: 18px;
	font-weight: bolder;
	font-family: 'gothamblackregular';
}

.about {
	background-color: #00bec9;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 25px;
}

.about h1 {
	color: white;
	font-size: 18px;
	font-family: 'gotham_bookregular';
	padding: 20px;
}

section#participantes{
	background-color: #23b9c3;
	padding-top: 10px;


}

section#participantes h1{
	font-family: 'gotham_bookregular';
	font-size: 20px;
	margin: 0;
	line-height: 16px;
	color:white;
}

.slide img {
	width: 100% !important;
	padding: 8px;
	border: solid 1px #f0efef;
	background-color: white;
	padding-bottom: 37px;
	border-bottom: solid 2px #dcdbdb;
}

.slick-slide{
	margin-right: 23px;
}

.slick-prev, .slick-next {
	top: 100% !important;
	position:absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	margin-top: 4px !important;
	width: 50px !important;
	margin-top: 14px !important;
	height: 23px !important;
}


.slick-prev:before{
	background-image: url('../img/left.png') !important;
	font-family: none !important;
	font-size: 20px;
	line-height: 1;
	opacity: .75;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: !important;
	color: #00bec9 !important;
}

.slick-next:before{
	background-image: url('../img/right.png') !important;
	font-family: none !important;
	font-size: 20px;
	line-height: 1;
	opacity: .75;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: !important;
	background-position: center center;
	color: #00bec9 !important;
}

.carousel-control.right {
	background-image: url('../img/right.png') !important;
	background-repeat: no-repeat !important;
	top: 89% !important;
	right: 4px !important;
}

.carousel-control.left{
	background-image: url('../img/left.png') !important;
	background-repeat: no-repeat !important;
	top: 89% !important;
	left: 22px !important;
}

.slick-prev {
	left: -52px !important;
}

.panel-default>.panel-heading {
	color: #333;
	background-color: #f5f5f5;
	border-color: #ddd;
	text-align: left !important;
}

.panel-default>.panel-heading{
	background-color: #00BDC9 !important;
	color: white !important;
}

.carousel-caption {
	bottom: -9px !important;
	text-shadow: none !important;
	color: #888 !important;
	font-family: 'gotham_bookregular' !important;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
	color:grey;
}

.foto {
	width: 146px;
	display: inline-block;
	background-color: white;
	padding-bottom: 10px;
	border: solid 1px #e1e1e1;
	border-radius: 4px;
	margin-left: 15px;
	border-bottom: solid 3px #d0d0d0;
}

.foto.foto-admin {
	margin: 15px 0;
	width: 185px;
	vertical-align: top;
}

.foto.foto-new {
	  background-color: #BCF8FC;
  border-bottom-color: #23b9c3;
}

.foto.foto-winner {
	background-color: #e3fbe3;
	border-bottom-color: #5cb85c;
}

.foto .glyphicon-star {
	color: #f2d745;
	font-size: 1.4em;
  vertical-align: middle;
}

.foto img{
	padding-bottom: 10px;
	max-width: 100%;
}

section .title{
	background-color: #23b9c3;
	padding: 7px;
}

section .title h1{
	color: white;
	font-size: 34px;
	font-family: 'gothamblackregular';
}

section .title h2 {
	color: white;
	font-size: 27px;
	line-height: 9px;
	font-family: 'gotham_bookregular';
}

section .title p {
	color: white;
	font-size: 10px;
	font-family: 'gotham_bookregular';
	font-style: italic;
}

.panel-title {
	color: white !important;
	text-decoration: none;
}

.panel-heading a:hover, a:visited, a:link {
	text-decoration: none;
}

.first-content{
	display: inline-block;
	width: 39%;
}

.second-content {
	display: inline-block;
	width: 29%;
	margin-top: 5px;
	vertical-align: top;
	margin-left: 12px;
}


ul.pasos{
	margin: 0;
	padding: 0;
	list-style:none;
	width: 100%;
}

ul.pasos li {
	width: 100%;
	margin-top: 20px;
}

ul.pasos li .numero {
	color: #00bdc9;
	width: 52px;
	font-size: 50px;
	border-right: solid 1px #00bdc9;
	display: inline-block;
	vertical-align: top;
	font-family: 'gothamblackregular', Arial, Helvetica;
	margin-right: 15px;
	margin-bottom: 10px;
	/* margin-top: 10px; */
}

ul.pasos li .descripcion {
	color: #737474;
	width: 51%;
	font-size: 17px;
	display: inline-block;
	text-align: left;
	margin-top: 9px;
	vertical-align: top;
	font-family: 'gotham_bookregular';
}

#resultados{
	background: #29bdc7; /* Old browsers */
	background: -moz-linear-gradient(top,  #29bdc7 0%, #02a1ab 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#29bdc7), color-stop(100%,#02a1ab)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #29bdc7 0%,#02a1ab 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #29bdc7 0%,#02a1ab 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #29bdc7 0%,#02a1ab 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #29bdc7 0%,#02a1ab 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29bdc7', endColorstr='#02a1ab',GradientType=0 ); /* IE6-9 */
	width: 85%;
	font-size: 19px;
	font-family: 'gotham_bookregular';
	padding: 5px;
	margin: 0 auto;
	color: white;
	margin-top: 15px;
}

#resultados:hover{
	background: #0698a1; /* Old browsers */
	background: -moz-linear-gradient(top,  #0698a1 0%, #024b50 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0698a1), color-stop(100%,#024b50)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0698a1 0%,#024b50 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0698a1 0%,#024b50 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0698a1 0%,#024b50 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0698a1 0%,#024b50 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0698a1', endColorstr='#024b50',GradientType=0 ); /* IE6-9 */

}

section a:hover{
	text-decoration: none;
}

ul.botones{
	margin: 0;
	padding: 0;
	list-style:none;
}

ul.botones li {
	width: 35%;
	margin-top: 20px;
	display: inline-block;
	vertical-align: top;
	font-family: 'gotham_bookregular';
	margin-right: 7px;
}

ul.botones li .boton{
	background: #29bdc7; /* Old browsers */
	background: -moz-linear-gradient(top,  #29bdc7 0%, #02a1ab 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#29bdc7), color-stop(100%,#02a1ab)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #29bdc7 0%,#02a1ab 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #29bdc7 0%,#02a1ab 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #29bdc7 0%,#02a1ab 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #29bdc7 0%,#02a1ab 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29bdc7', endColorstr='#02a1ab',GradientType=0 ); /* IE6-9 */
	color:white;
	padding: 10px;
}

ul.botones li p{
	text-align: left;
	font-size: 10px;
	margin-top: 8px;
	color: #666;
}

section p.terminos {
	padding: 20px;
	font-family: 'gotham_bookregular';
	text-align: justify;
	color: #888;
}

ul.grid {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100% !important;
}

ul.grid li{
	width: 32%;
	display: inline-block;
}

ul.grid li img{
	width: 100%;
}


.toggle-button{
	background-color: #23B9C3;
	color: white;
	font-size: 16px;
	padding-left: 17px !important;
	padding: 11px;
	margin-left: 1px;
	font-family: 'gotham_bookregular' !important;
}

.toggle-button.active{
	border-bottom: solid 2px #046369;
}

@media all and (max-width:500px) {

	#carousel-example-generic{
		display: block !important;
	}

	.slick-slider{
		display: none !important;
	}

	.column{
		width: 100% !important;
		margin-left: 0px !important;
	}

	section .column h1{
		text-align: center !important;
		font-size: 22px !important;
	}

	#participantes img{
		width: 95% !important;
	}

	.titulo-explicacion{
		font-size: 16px !important;
	}

	.titulo-explicacion img{
		width: 50% !important;
		margin-top: 8px !important;
		margin-bottom: 15px;
	}

	section#participantes h1 {
		font-size: 20px;
		margin: 0;
		line-height: 23px !important;
	}

	h1#con {
		margin-top: 0px !important;
	}

	.first-content {
		display: inline-block;
		width: 100%;
		border: 0px solid white !important;
	}

	.second-content {
		display: inline-block;
		width: 57%;
	}

	.explicacion img {
		width: 87%;
	}

	.toggle-button{
		display: block !important;
	}

	.reto-instagram nav ul {
		display: none;
	}

	.reto-instagram nav ul li {
		width: 100%;
		margin-left: 0px !important;
		border-bottom: solid 1px #046369;
	}

	.column h1 sup {
		vertical-align: 6px !important;
	}

	#yo-acepto{
		width: 80%;
	}

	ul.example li {
		width: 33%;
		display: inline-block;
	}

	section .title h2 {
		color: white;
		font-size: 27px;
		line-height: 28px;
		font-family: 'gotham_bookregular';
	}

	ul.pasos li .numero {
		color: #00bdc9;
		width: 20%;
	}

	ul.grid li {
		width: 49%;
	}

	.actividad{
		width: 80% !important;
	}

	ul.pasos li .descripcion {
		color: #737474;
		width: 65%;
	}

}
